.frame {
  width: var(--true-width);
  height: var(--true-height);
}
.background {
  width: 100%;
  height: 100%;
  background: url("../public/background/pc/pc_graphism.svg"),
    url("../public/background/pc/pc_background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--true-width) var(--true-height);
}
.hero {
  top: 39.5%;
  right: 33.6%;
}
.hero img {
  width: 54vw;
  height: auto;
}
.reveal {
  animation-duration: 2s;
  animation-name: reveal;
}
.subtitle {
  width: 100%;
  top: 10.5%;
}
.subtitle--shop {
  padding: 0 12%;
}
.subtitle--watch {
  padding: 0 9.25%;
}
.subtitle--see {
  padding: 0 12.5%;
}
.subtitle--read {
  top: 8.25%;
}
.subtitle-text {
  font-family: "sfintermosaic";
  font-size: 0.5575vw;
}
.subtitle-text--shop {
  word-spacing: 0.185vw;
}
.testblue {
  border: 1px solid blue;
}
.testred {
  border: 1px solid red;
}
.testgreen {
  border: 1px solid green;
}
#links {
  width: 51.5%;
  height: 27.35%;
  top: 19.5%;
  left: 14.75%;
  padding: 0 0.5%;
}
.ul--links {
  width: 100%;
  height: 100%;
}
.li--shop {
  width: 34.15%;
  height: 100%;
}
.ul--shop {
  height: 100%;
  padding-left: 10%;
  top: 11.25%;
  gap: 2.5%;
}
.li--watch {
  width: 39.5%;
  height: 100%;
}
.ul--watch {
  height: 100%;
  padding-left: 10%;
  top: 11.25%;
  gap: 2.5%;
}
.li--see {
  width: 26.35%;
}
.ul--see {
  height: 100%;
  padding-left: 10%;
  top: 11.25%;
  gap: 2.5%;
}
.li--goatreon {
  top: 48.5%;
  left: 17.5%;
}
#socials {
  width: 13.5%;
  height: 35%;
  top: 11.85%;
  left: 69.5%;
}
.ul--socials {
  gap: 0.5vw;
  top: 11.25%;
}
.div--x {
  gap: 7.5px;
  align-items: center;
  margin-bottom: 11.25%;
}
.x-ctn {
  width: 100%;
  border-bottom: 1px solid white;
}
.anim-ctn {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.animimg {
  width: 10vw;
  height: auto;
  bottom: 5.5%;
  right: -0.5%;
}
@media screen and (max-width: 1280px) {
  .frame {
    width: var(--true-smartphone-width);
    height: var(--true-smartphone-height);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .background {
    width: 100dvw;
    height: 100dvh;
    background: url("../public/background/smartphone/smartphone_graphisme.svg"),
      url("../public/background/smartphone/smartphone_background.svg");
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: var(--true-smartphone-width) var(--true-smartphone-height);
  }
  .hero {
    top: auto;
    bottom: 73.25%;
    right: calc(50% - calc(var(--true-smartphone-width) - 5.5dvw) / 2);
  }
  .hero > img {
    width: calc(var(--true-smartphone-width) - 5.5dvw);
  }
  #links {
    width: 28.75%;
    height: 37.5%;
    top: 45.75%;
    left: 10.25%;
  }
  .ul--links {
    flex-direction: column;
  }
  .li--shop {
    width: 100%;
    height: 23.25%;
  }
  .subtitle {
  }
  .subtitle {
    width: 100%;
    top: 1.3vh;
  }
  .subtitle--shop {
    padding: 0 0;
  }
  .subtitle--watch {
    padding: 0 9.25%;
  }
  .subtitle--see {
    padding: 0 12.5%;
  }
  .subtitle--read {
  }
  .subtitle-text {
    font-family: "sfintermosaic";
    font-size: 0.625vh;
  }
  .subtitle-text--shop {
    word-spacing: 0.45vh;
  }
  .li--watch {
    width: 100%;
    height: 41%;
  }
  .ul--watch {
    height: 100%;
    padding-left: 0;
    top: 4.5%;
    gap: 0.4vh;
  }
  .animimg {
    width: 30dvw;
    bottom: 0;
  }
  div svg {
    display: none;
  }
  .ul--shop {
    padding-left: 0;
    width: 100%;
    top: 7.5%;
    gap: 0.5vh;
  }
  .span--link {
    color: white;
  }
  .li--see {
    width: 100%;
  }
  .ul--see {
    height: 100%;
    padding-left: 0;
    top: 11.25%;
    gap: 0.5vh;
  }
  .li--goatreon {
    top: 117.5%;
    left: 10%;
  }
  #socials {
    width: 34.5%;
    height: 16.5%;
    top: 30.75%;
    left: 63%;
  }
  .ul--socials {
    gap: 0.5vh;
    top: 4.75%;
    left: 0%;
  }
  .div--x {
    gap: 7.5px;
    align-items: center;
    margin-bottom: 7%;
    width: fit-content;
  }
  .span--link--darkgrey {
    color: var(--color-darkgrey) !important;
  }
  .x-ctn {
    width: 100%;
    border-bottom: 1px solid var(--color-darkgrey);
  }
}
