.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.z-4 {
  z-index: 4;
}
.color-darkgrey {
  color: var(--color-darkgrey);
}
.color-pink {
  color: var(--color-pink);
}
.color-white {
  color: white;
}
.fs-h3 {
  font-size: var(--fs-title);
}
.fs-h4 {
  font-size: var(--fs-subtitle);
}
.fs-link {
  font-size: var(--fs-link);
}
.icon {
  width: 1.25vw;
  height: auto;
  color: var(--color-pink);
}
.hidden {
  display: none;
}
@media screen and (max-width: 1280px) {
  .fs-h3 {
    font-size: var(--fs-title--smart);
  }
  .fs-link {
    font-size: xx-small;
  }
  .icon {
    width: 1.75vh;
  }
}
